body {
    font-family: Arial, sans-serif;
    background-image: url(background.jpg);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    margin: 50px auto;
    padding: 20px;
    background: #262c77;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input-container {
    display: flex;
    width: 100%;
}

h1 {
    text-align: center;
}

input[type="text"] {
    flex: 1; /* Ocupará todo o espaço disponível */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.icon-button {
    width: 40px; 
    height: 40px;
    padding: 0; 
    background: #1a491a;
    color: white;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    font-size: 35px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.icon-button:hover {
    background: #4cae4c;
}

.removeTaskButton, .editTaskButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.removeTaskButton {
    color: red;
}

.editTaskButton {
    color: green;
}

.removeTaskButton:hover, .editTaskButton:hover {
    opacity: 0.7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative;
    padding: 5px;
    text-align: left;
    background-color: #2f347a; 
    border-radius: 5px; 
    margin-bottom: 5px; 
    box-sizing: border-box; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

li span {
    flex-grow: 1; 
}
.footer {
    position: fixed;       /* Fixa a seção na parte inferior da página */
    bottom: 0;            /* Alinha a seção ao fundo */
    left: 0;              /* Alinha a seção à esquerda */
    right: 0;             /* Alinha a seção à direita */
    background-color: #0c2fcae6; /* Cor de fundo branca com leve transparência */
    text-align: center;   /* Centraliza o texto */
    padding: 1px;        /* Adiciona espaçamento interno */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave acima da seção */
    font-size: 14px;      /* Tamanho da fonte */
}

.footer a {
    color: #5cb85c;       /* Cor do link */
    text-decoration: none; /* Remove o sublinhado do link */
}

.footer a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}