body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 50px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    background: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.removeTaskButton{
        right: 10px; /* Lateral direita do item */
        opacity: 0; /* Inicialmente invisível */
        transition: opacity 0.3s; /* Animação suave ao aparecer/desaparecer */
}

button:hover {
    background: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative;
    padding: 1px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    width: 100%;
}

li:last-child {
    border-bottom: none;
}

li:hover .removeTaskButton {
    opacity: 1; /* Torna o botão visível ao passar o mouse */
}

.footer {
    position: fixed;       /* Fixa a seção na parte inferior da página */
    bottom: 0;            /* Alinha a seção ao fundo */
    left: 0;              /* Alinha a seção à esquerda */
    right: 0;             /* Alinha a seção à direita */
    background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo branca com leve transparência */
    text-align: center;   /* Centraliza o texto */
    padding: 1px;        /* Adiciona espaçamento interno */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave acima da seção */
    font-size: 14px;      /* Tamanho da fonte */
}

.footer a {
    color: #5cb85c;       /* Cor do link */
    text-decoration: none; /* Remove o sublinhado do link */
}

.footer a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}
